<%#
  Note: This templating language is HTML-inspired. It does not always behave like true HTML.
  To see limitations, check out the documentation: https://github.com/puzzle/prawn-markup.
%>
<table>
  <tr>
    <th>
      <p>
        <b>Important!</b> Medications that <b><em>may</em></b> have been prescribed for asthma are marked with
        <font name="DejaVuSans">&#9654; </font>arrows<font name="DejaVuSans"> &#9664;</font>.
        <br />
        Claims adjudicators should check the patient’s medical records to see what the medication was prescribed for.
        <br />
        See “How we identify asthma prescriptions” at the end of this document for more details.
      </p>
    </th>
  </tr>
</table>
<br />
