---
http_interactions:
- request:
    method: post
    uri: https://hooks.slack.com/services/asdf1234
    body:
      encoding: UTF-8
      string: '{"text":"ISAM SAML Metadata differences detected","blocks":[{"type":"section","text":{"type":"mrkdwn","text":"*ISAM
        SAML Metadata differences detected*\nDifference detected on: `development`\nUse
        <https://int.eauth.va.gov/isam/saml/metadata/saml20idp|IAM''s current metadata
        file> to update `vets-api`"}},{"type":"divider"},{"type":"section","text":{"type":"mrkdwn","text":"The
        following SAML attributes have been changed:\n• `idp_entity_id`\n• `name_identifier_format`\n•
        `idp_sso_service_url`\n• `idp_sso_service_binding`\n• `idp_cert`\n• `idp_cert_fingerprint`\n•
        `idp_cert_multi`\n"}}],"channel":"#meta_headers_alert_test"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 302
      message: Found
    headers:
      X-Slack-Backend:
      - r
      Location:
      - https://api.slack.com/
      Content-Type:
      - text/html
      X-Backend:
      - main_normal main_bedrock_normal_with_overflow main_canary_with_overflow main_bedrock_canary_with_overflow
        main_control_with_overflow main_bedrock_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-wygr
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 30 Dec 2021 18:52:01 GMT
recorded_with: VCR 6.0.0
